WinForm/Connected Services/MusicService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59870/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59870/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
      <xsd:import schemaLocation="http://localhost:59870/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q1:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMusic" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMusic_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q2:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_ListMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMusic" />
  </wsdl:message>
  <wsdl:message name="IService1_ListMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListMusic_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q3:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMusic" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMusic_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q4:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMusic" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMusic_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q5:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMusic" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAllMusic_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q6:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Logout_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/WCF" name="detail" element="q7:ServiceData" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LoginServiceDataFault" name="ServiceDataFault" message="tns:IService1_Login_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMusic" message="tns:IService1_AddMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMusicResponse" message="tns:IService1_AddMusic_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/AddMusicServiceDataFault" name="ServiceDataFault" message="tns:IService1_AddMusic_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListMusic" message="tns:IService1_ListMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListMusicResponse" message="tns:IService1_ListMusic_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/ListMusicServiceDataFault" name="ServiceDataFault" message="tns:IService1_ListMusic_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMusic" message="tns:IService1_UpdateMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMusicResponse" message="tns:IService1_UpdateMusic_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateMusicServiceDataFault" name="ServiceDataFault" message="tns:IService1_UpdateMusic_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMusic" message="tns:IService1_DeleteMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMusicResponse" message="tns:IService1_DeleteMusic_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteMusicServiceDataFault" name="ServiceDataFault" message="tns:IService1_DeleteMusic_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAllMusic" message="tns:IService1_DeleteAllMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAllMusicResponse" message="tns:IService1_DeleteAllMusic_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteAllMusicServiceDataFault" name="ServiceDataFault" message="tns:IService1_DeleteAllMusic_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Logout" message="tns:IService1_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogoutResponse" message="tns:IService1_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/LogoutServiceDataFault" name="ServiceDataFault" message="tns:IService1_Logout_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddMusic">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListMusic">
      <soap:operation soapAction="http://tempuri.org/IService1/ListMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMusic">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMusic">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMusic">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAllMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IService1/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59870/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>