WinForm/Connected Services/MusicService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceData" nillable="true" type="tns:ServiceData" />
  <xs:simpleType name="Genres">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="POP" />
      <xs:enumeration value="ROCK" />
      <xs:enumeration value="METAL" />
      <xs:enumeration value="EDM" />
      <xs:enumeration value="RAP" />
      <xs:enumeration value="TRAP" />
      <xs:enumeration value="CLASSIC" />
      <xs:enumeration value="REGGAE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Genres" nillable="true" type="tns:Genres" />
  <xs:complexType name="ArrayOfMusic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Music" nillable="true" type="tns:Music" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusic" nillable="true" type="tns:ArrayOfMusic" />
  <xs:complexType name="Music">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dislikes" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" type="tns:Genres" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Likes" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Music" nillable="true" type="tns:Music" />
</xs:schema>